<% content_for(:head) do %>
  <%= stylesheet_link_tag "jquery.jqplot_changes" %>
  <%= javascript_include_tag "jqplot/plugins/jqplot.pieRenderer" %>
<% end %>
<h2>Statistics</h2>

<div id="pie_dish" class="grid4 first"></div>

<% content_for(:jquery) do %>

  jQuery.jqplot('pie_dish', 
    [[['Unused', <%= @unused.count %> ], ['Used', <%= @used.count %>]]], 
    {
      grid: {
        drawBorder: false, 
        drawGridlines: false,
        shadow:false,
        background: "rgba(255,255,255, 0)"
      },
      seriesColors: ["#43C1EF", "#CDDF54"],
      seriesDefaults: {
        color: "#ffffff",
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: { 
          diameter: 250,
          padding: 0,
          sliceMargin: 3, 
          startAngle: -90,
          showDataLabels: true,
          shadowAngle: 45,
          shadowOffset: 2,
          shadowDepth: 2,
          shadowAlpha: 0.3,
          dataLabels: 'percent_label'
        } }
    }
  );
<% end %>