h1{
  font-size: 200%;
  line-height: 200%;
  font-weight: 800;
}

h2{
  font-size: 150%;
  line-height: 150%;
  font-weight: 600;
}

h3{
  font-size: 125%;
  line-height: 125%;
  font-weight: 400;
}

#tabs li{
  float:left;
  width: 120px;
}

.help_text{
  color: #888;
  font-style: italic;
  font-size: 90%;
  line-height: 190%;
}
.odd{
  background-color: #ddd;
}

.discription{
  color: #777;
}
.discount_template .description a{
  text-decoration: none;
}
.discount_template .description a:hover{
  text-decoration: none;
  background-color: none;
}
.discount_template h2{
  margin-bottom: 0px;
  padding-bottom: 0px;
}