<h1>Welcome to couponify</h1>

<div class="first grid4">
  <div class="box rounded">
    Hello
  </div>
</div>
<div class="grid4">
  <div class="box rounded">
    Hello
  </div>
</div>
<div class="last grid4">
  <div class="box rounded">
    Hello
  </div>
</div>