<% content_for(:head) do %>
  <%= stylesheet_link_tag "fullcalendar" %>
  <%= javascript_include_tag "fullcalendar.min.js" %>
<% end %>
<h1>Promotions</h1>

<div id="calendar" class="grid12" ></div>

<div id="popup" class="prefix2 grid8" style="display:none;"></div>
<% content_for(:jquery) do %>
  var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	
	function postDate(event){
	  end = event.end
	  if(end != null){
	    end = end.toDateString();
	  }
	  $.ajax({
       type: "POST",
       url: event.url,
       data: { _method:'PUT', discount_template: {order_placed_before: end, order_placed_after: event.start.toDateString()}},
       success: function(msg){
       }
     });
	}
	
	var calendar = $('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: ''
		},
		selectable: true,
		selectHelper: true,
		firstDay: 1,
		aspectRatio: 2,
		select: function(start, end, allDay) {
			$.fancybox({
        'autoDimensions': false,
        'width': 600,
        'height': 400,
        'transitionIn': 'none',
        'transitionOut': 'none',
        'type': 'ajax',
        'href': "discount_templates/new?discount_template[start]="+start.toDateString()+"&discount_template[end]="+end.toDateString(),
        'onClosed': function(){
          $("#calendar").fullCalendar('refetchEvents');
      }});
		},
		eventRender: function(event, element) {
		  $(element).attr('id', 'fc_event_'+event.id);
		  $(element).attr('title', 'Click to edit '+event.title);
		},
		events: 'discount_templates.json',
		ignoreTimezone: false,
		eventClick: function(event) {
      if (event.url) {
        $.fancybox({
            'autoDimensions': false,
            'width': 600,
            'height': 400,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'type': 'ajax',
            'href': event.url+"edit",
            'onClosed': function(){
              $("#calendar").fullCalendar('refetchEvents');
            }
        });
        return false;
      }
    },
		editable: true,
		eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
		  postDate(event);
     },
    eventResize: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
 		  postDate(event);
    }
	});
<% end %>