<h1>Discount Templates</h1>

<h2>New Template</h2>
Give <a>new customers</a> who place <a>any order</a> between <a>now</a> and <a>forever</a> a discount of <input id="discount_value" name="discount[value]" size="7" type="text"><select id="discount_type" name="type">
              <option value="fixed_amount">USD</option>
              <option value="percentage">%</option>
            </select> to be used on <a>one</a> order.

<h2>Existing Templates</h2>

<% @discount_templates.each do |discount_template| %>
  <%= long_description(discount_template) %><br />
<% end %>
<br />

<%= link_to 'New Discount template', new_discount_template_path %>
