<% content_for(:head) do %>
  <%= stylesheet_link_tag "fullcalendar" %>
  <%= javascript_include_tag "fullcalendar.min.js" %>
<% end %>
<h1>Promotions</h1>

<div id="calendar" class="grid12" ><div class="clear"></div></div>
<%= link_to "fancy?", edit_discount_template_path(DiscountTemplate.first), :id => "inline" %>

<div id="popup" class="prefix2 grid8" style="display:none;"></div>
<% content_for(:jquery) do %>
  var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	
	var calendar = $('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: ''
		},
		selectable: true,
		selectHelper: true,
		editable: true,
		firstDay: 1,
		aspectRatio: 2,
		select: function(start, end, allDay) {
			var title = prompt('Event Title:');
			if (title) {
				calendar.fullCalendar('renderEvent',
					{
						title: title,
						start: start,
						end: end,
						allDay: allDay
					},
					true // make the event "stick"
				);
			}
			calendar.fullCalendar('unselect');
		},
		events: 'discount_templates.json',
		eventClick: function(event) {
      if (event.url) {
        $.fancybox({
            'autoDimensions': false,
            'width': 300,
            'height': 400,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'type': 'ajax',
            'href': event.url,
            'onClosed': function(){
              $("#calendar").fullCalendar('refetchEvents');
            }
        });
        return false;
      }
    }
	});
<% end %>