<h1>Install</h1>

<p>Please <strong> enter the URL of your <%= link_to "Shopify shop", "http://shopify.com" %></strong> (or just the subdomain if it&rsquo;s at myshopify.com)</p>
<%= form_tag '/login/authenticate' do %>

<%= text_field_tag 'shop', {}, {:size => 45, :value => "reichert-corwin-and-boehm5403", :style => "font-size: 18px"} %>
<%= submit_tag 'Log In', :style=>"font-size: 18px" %>

<% end %>