<h1>Listing discounts</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Customer</th>
    <th>Used?</th>
  </tr>

<% @discounts.each do |discount| %>
  <tr>
    <td><%= discount.code %></td>
    <td><%= discount.customer.email %></td>
    <td><%= discount.used? %></td>
    <td><%= link_to 'Show', discount %></td>
  </tr>
<% end %>
</table>
